{% extends 'blog/base.html' %}

{% block content %}
    <div class='text-center'>
    <h2>Please Login : </h2>
    <h5>(Must Be SuperUser, Please Check With The Site Admin)</h5>
    {% if form.errors %}
        <p>Your Username And Password Didn't Match!! Please Try Again.</p>
    {% endif %}
      <form class="" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="LogIn">
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
{% endblock  %}
